body{
    padding: 20px;
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #242424;
}

.btn-primary{
    background-color: #8d1f67;
    border: none;
}

.btn-primary:hover{
    background-color: #5e145d;
}

#question-stem-container{
    background-color: #1e1e1e !important;
}

#question-stem-container,
#question-stem-container *{
    color: #ffffff !important;
}

.math-img{
    filter: grayscale(100%) invert(1) contrast(130%);
    vertical-align: middle;
    transform: scale(1.05);
}

#stimulus-container{
    background-color: #1e1e1e;
}

#stimulus-container img,
#stimulus-container svg{
    width: 70%;
    max-width: none;
    height: auto;
    display: block;
    margin: auto;
    filter: grayscale(100%) invert(0.8) contrast(130%);
}

#question-stem-container img,
#answer-options-container img{
    max-width: 90%;
    height: auto;
    padding: 40px 20px;
}

.form-check {
    background-color: #363536 !important;
    border: 1px solid #71417f !important;
    border-radius: 8px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    padding: 7px !important;
}

.form-check-input:focus{
    border-color: #8d1f67;
    box-shadow: 0 0 0 0.25rem rgba(137, 20, 96, 0.25);
}

.form-check-input:checked {
    background-color: #8d1f67 !important;
    border-color: #8d1f67 !important;
}

.form-check-input {
    border-color: #71417f;
}

.form-check *,
.form-check-label{
    color: #ffffff !important;
}

.form-check:hover{
    border-color: #b53e69 !important;
    background-color: #363536 !important;
}

.split-panel{
    height: 65vh;
    overflow-y: auto;
}

.single-panel{
    width: 100% !important;
}

#question-stem-container,
#answer-options-container{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
